[Unit]
After=network-online.target auditd.service

[Service]
ExecStart=/bin/pyListener.py
Restart=on-failure
Restart=10s

[Install]
WantedBy=multi-user.target
Alias=pyListener.service
